/* You can add global styles to this file, and also import other style files */
@import 'stryles/reset.css';
@import 'stryles/sizes.css';
@import 'stryles/colors.css';
@import 'stryles/global.css';

:root {
    --switch-position: 5%;
    --hover-bg: linear-gradient(90deg, var(--primary-lightblue) var(--switch-position), var(--primary-extralight) var(--switch-position));
    --selected-bg: linear-gradient(90deg, var(--primary-lightblue) var(--switch-position), var(--primary-deepblue) var(--switch-position));

    --hover-bg-2: linear-gradient(90deg, rgba(51, 170, 255, 1) var(--switch-position), rgba(229, 244, 255, 1) var(--switch-position));
    --selected-bg-2: linear-gradient(90deg, rgba(51, 170, 255, 1) var(--switch-position), rgba(45, 73, 210, 1) var(--switch-position));

}
$box-shadow: 6px 0 18px 0 rgba(0, 0, 0, 0.06);
 