html {
	--primary-extralight: rgba(229, 244, 255, 1);

	--primary-lightblue: rgba(51, 170, 255, 1);
	--primary-lightblue-lighter: rgba(153, 212, 255, 1);
	--primary-lightblue-darker: rgba(0, 148, 255, 1);

	--primary-deepblue: rgba(45, 73, 210, 1);

	--dark-300: rgba(82, 89, 122, 1);

	--light-100: rgba(255, 255, 255, 1);
}
